
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');



* {
    padding: 0;
    height: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: #010A2D;
    color: white;
    font-family: 'Inter',  sans-serif; 
    width: 100%;
    position: relative;
    
}

.cabecalho {
  display: flex;
  height: 90px;
  align-items: center;
  width: 100%;
 
   
}

.hero-image {
  max-width: 100%;
  position: fixed;
  z-index: -1;
  width: 100%;
  padding-top: 20%;
  
  
}

.hero-image img {
  height: 1000px;
  width: 500px;
  aspect-ratio: 2/4;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  
}


main {
  width: 100%;
}


 .cabecalho__menu {
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    
 }

.cabecalho__menu__links {

  
  color: #616161;

  font-family: Inter;
  font-size: 37.84px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  transform: scale(1);
  display: inline-block; 
   
  transition: all 0.1s ease-in;
   
       
}

.cabecalho__menu__links:hover  {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
  
}




  

 .language {
  display: grid;
  gap: 50px;
  align-items: center;
  padding: 1rem;
  margin-top: 10rem;
 }

 .title {

 }



.container {
    
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
  
  }

  .boxes {
    background-color: #10163A;
    width: 100px;
    height: 100px;
    border: 1px solid red; }


  
  .box1 {
    background-image: url(/imagens/css.png);
    background-color: #10163A;
    width: 100px;
    height: 100px;
    cursor:pointer;
    
  
   
  }

  


  .box2 {
    background-image: url(/imagens/HTML.png);
    width: 100px;
    height: 100px; 
    background-color: #10163A;
    
}

  .box3 {
    background-image: url(/imagens/JS.png);
    width: 100px;
    height: 100px;
    background-color: #10163A;
   
     }


    .box4 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        background-color: #10163A;
        
     }

     .box5 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        background-color: #10163A;
       
    }

    .box6 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        background-color: #10163A;
        
    }

    .box7 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        background-color: #10163A;
    }

    .box8 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        background-color: #10163A;
        
    }

    .box9 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
        
     }

     .box10 {
        background-color: #10163A;
        width: 100px;
        height: 100px;
      
     }

  
  
  

